.about-container {
    margin: 4rem 6rem 2rem;
    text-align: start;
}

.about-container h1 {
    padding-bottom: 1rem;

}

.about-container p {
    padding-bottom: 2rem;
    font-size: 1.5rem;
}

.about-container p:last-child {
    padding-bottom: 0;
}

@media screen and (max-width:850px) {
    .about-container {
        margin: 4rem 2rem 0;
    }

    .about-container p {
        padding-bottom: 3rem;
        font-size: 1rem;
    }
    .about-container p:last-child {
        padding-bottom: 0;
    }
}